@font-face {
  font-family: 'DINNextLTPro-Bold';
  src: url('DINNextLTPro-Bold.eot'); 
  src: url('DINNextLTPro-Bold?#iefix') format('embedded-opentype'), 
         url('DINNextLTPro-Bold.woff') format('woff'), 
         url('DINNextLTPro-Bold.ttf') format('truetype'), 
         url('DINNextLTPro-Bold.svg#DINNextLTPro-Bold') format('svg'); 
}
@font-face {
  font-family: 'DINNextLTPro-Light';
  src: url('DINNextLTPro-Light.eot'); 
  src: url('DINNextLTPro-Light?#iefix') format('embedded-opentype'), 
         url('DINNextLTPro-Light.woff') format('woff'), 
         url('DINNextLTPro-Light.ttf') format('truetype'), 
         url('DINNextLTPro-Light.svg#DINNextLTPro-Light') format('svg'); 
}
@font-face {
  font-family: 'DINNextLTPro-Medium';
  src: url('DINNextLTPro-Medium.eot'); 
  src: url('DINNextLTPro-Medium?#iefix') format('embedded-opentype'), 
         url('DINNextLTPro-Medium.woff') format('woff'), 
         url('DINNextLTPro-Medium.ttf') format('truetype'), 
         url('DINNextLTPro-Medium.svg#DINNextLTPro-Medium') format('svg'); 
}
@font-face {
  font-family: 'DINNextLTPro-Regular';
  src: url('DINNextLTPro-Regular.eot'); 
  src: url('DINNextLTPro-Regular?#iefix') format('embedded-opentype'), 
         url('DINNextLTPro-Regular.woff') format('woff'), 
         url('DINNextLTPro-Regular.ttf') format('truetype'), 
         url('DINNextLTPro-Regular.svg#DINNextLTPro-Regular') format('svg'); 
}
@font-face {
  font-family: 'DINNextRoundedLTPro-Regular';
  src: url('DINNextRoundedLTPro-Regular.eot'); 
  src: url('DINNextRoundedLTPro-Regular?#iefix') format('embedded-opentype'), 
         url('DINNextRoundedLTPro-Regular.woff') format('woff'), 
         url('DINNextRoundedLTPro-Regular.ttf') format('truetype'), 
         url('DINNextRoundedLTPro-Regular.svg#DINNextRoundedLTPro-Regular') format('svg'); 
}
