<?xml version='1.0' encoding='utf-8' ?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.clubhouse"
        version   = "1.0.5">

    <name>Mi Club House</name>

    <description>
        Mi Club House App, es una App para condominios, countries y barrios cerrados
    </description>

    <author href="http://www.swci.com.ar" email="ewernicke@miclubhouse.com.ar">
        MI CLUB HOUSE
    </author>
	<preference name="permissions"                value="none"/>

    <!-- Customize your app and platform with the preference element. -->
    <preference name='phonegap-version' value='cli-5.2.0' />         <!-- all: current version of PhoneGap -->
    <preference name="orientation"                value="portrait" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="webviewbounce"              value="true" />           <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
    <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference name="stay-in-webview"            value="false" />          <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
    <preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="show-splash-screen-spinner" value="true" />           <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
    <preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
    <preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
    
	


    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.device"/>
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
	<gap:plugin name="cordova-plugin-network-information" version="1.0.1" />

    <!-- Third party plugins -->
	<plugin name="it.witek.cordova.plugin.background-mode" spec="0.6.3" source="pgb" /><!-- Solo Android /-->
	<plugin name="com.footprint.cordova.plugin.local-notification" spec="0.8.0" source="pgb" />
	
	
	
	<icon src="img/favicon.png" />
    <icon src="img/logo152.png"  gap:platform="winphone" />
    <icon src="img/logo152.png" gap:platform="winphone"   gap:role="background" />

    <!-- Define app splash screen for each platform. -->
    <gap:splash src="img/Default@2x.png" gap:platform="winphone" />   
	
    <access origin="*"/>
	
</widget>

